<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="20" />
        <setting name="cacheEnabled" value="false" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
<!--     <typeHandlers> -->
<!--         <typeHandler handler="com.sprucetec.bone.common.dao.handler.ValueEnumTypeHandler" -->
<!--                              javaType="com.sprucetec.tms.basic.base.enums.Gender" jdbcType="TINYINT" /> -->
<!--     </typeHandlers> -->
<!--     <plugins> -->
<!--         <plugin interceptor="com.sprucetec.bone.common.dao.pagebatis.PageInterceptor"> -->
<!--             <property name="dialectType" value="com.sprucetec.bone.common.dao.pagebatis.MySQLDialect" /> -->
<!--             <property name="dialectType" value="com.sprucetec.tms.basic.utils.XFMySQLDialect" /> -->
<!--         </plugin> -->
<!--     </plugins> -->
    <mappers>
        <mapper resource="mapper/test/TestMapper.xml" />
	</mappers>
</configuration>
